html {
  width: 100%;
  background-color: antiquewhite;

}
body {
  width: 100%;
}
.app {
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 10%;
}
.input {
  width: 100%;
  /* margin: ; */
  /* padding: 1rem 20%; */
  outline: none;
  border: none;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}
.word-show {
  background-color: rgb(51, 15, 15);
  max-width: 30rem;
}
.word {
  color:white
}