html {
  width: 100%;
  background-color: antiquewhite;

}
body {
  width: 100%;
}
.app {
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 10%;
}
.input {
  margin: 0 20%;
  padding: 2rem 20%;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}